$txt-color: #2c3e50;

$base-color-lightest: #fff2cf;
$base-color-lighter: #ffdd80;
$base-color-light: #f7c845;
$base-color: #fcba03;
$base-color-dark: #d9a004;
$base-color-darker: #a87b00;
$base-color-darkest: #3d2d00;

// Theme color default definitions
$primary: #4679e0;
$secondary: #95989e;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #ff4136;
$light: #b8c5e0;
$dark: #0c1e3b;



// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
