$txt-color: #2c3e50;

$base-color-lightest: #fff2cf;
$base-color-lighter: #ffdd80;
$base-color-light: #f7c845;
$base-color: #fcba03;
$base-color-dark: #d9a004;
$base-color-darker: #a87b00;
$base-color-darkest: #3d2d00;
